  
   <div class="d-flex justify-content-between  p-3 bg-dark text-white">
    <div class="d-flex gap-3">
      <a>Ecommerce Website</a>
      <a  routerLink="/home"  routerLinkActive="active">Home</a>
      <a  routerLinkActive="active">
        <select>
          <option value="">PopUp</option>
          <option>HTML</option>
          <option>Css</option>
          <option>JavaScript</option>
        </select>
      </a>
      <a routerLinkActive="active">
        <select  (change)="navigateTo($event)">
          <option value="">Machine Test</option>
          <option value="/product">product</option>
          <option></option>
        </select>
      </a>
    </div>
    <div class="d-flex gap-2">
      <input type="text" placeholder="search">
      <input type="text" placeholder="search">
    </div>
   </div>
  <router-outlet></router-outlet>
   